
/* Approval Checkbox - Agent Schedule Form */

.square-cell {
  width: 50px; /* Set the desired width for square cells */
  height: 50px; /* Set the desired height for square cells */
  text-align: center;
  vertical-align: middle;
}

.approval-table {
  border-collapse: separate;
  border-spacing: 0 5px;
}

/* Approval checkbox styling */
.approval-checkbox {
  width: 12px;
  height: 12px;
  border: 1px solid #a7a7a7;
  display: inline-block;
  margin-right: 8px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 9px;
  position: relative;
}

/* Checked state styling for the checkmark */
.approval-checkbox.checked span {
/*  content: '\2713'; */
  color: #de01ff;
  font-size: 9px;
  box-shadow: 0 0 8px 2px #de01ff;
}

/* Remove the glowing effect on hover or focus */
.approval-checkbox:hover::before,
.approval-checkbox:focus::before {
  box-shadow: none;
}

/* Solid background for the checked state */
.approval-checkbox.checked::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #de01ff; /* Radiant color */
  box-shadow: none; /* No glowing effect */
}

/* Approval Checkbox - Agent Schedule Form */

.text-right {
  text-align: right !important;
}

