.scheduletimecard-year {
  margin-right: -1.3%;
}

.scheduletimecard-payperiod {
  flex: 0 0 17%; /* Adjust the percentage as needed */
  margin-right: -2rem;
}

.scheduletimecard-runreport {
  margin-right: 0;
}

.scheduletimecard-savetimecard {
  margin-left: auto;
  margin-right: 0;
}

.scheduletimecard-exittimecard {
  margin-left: -6rem;
  margin-right: 0;
}